@import 'helpers/variables';
@import 'helpers/functions';
@import 'helpers/mixins';
@import 'helpers/helpers';


.main-content {
	padding-left: 250px;
	width: calc(100%- 250px);
	.dashboard-container {
		padding: 0 80px;
	}
}

//dashboard styling 
.dashboard {
	.row--stats {
		margin-bottom: 30px;
	}
	&__stats-card {
		padding: 20px;
		background: #FFFFFF;
		border: 1px solid #ECECEC;
		box-sizing: border-box;
		border-radius: 5px;
		.label {
			margin-top: 40px;
			margin-bottom: 10px;
			font-style: normal;
			font-weight: normal;
			line-height: normal;
			font-size: 14px;
			color: #888888;
		}
		.number {
			margin-bottom: 20px;
			font-style: normal;
			font-weight: 300;
			line-height: normal;
			font-size: 32px;
			letter-spacing: -0.04em;
			color: #000000;
		}
		.action {
			font-style: normal;
			font-weight: normal;
			line-height: normal;
			font-size: 14px;
			color: #000000;
			a {
				font-style: normal;
				font-weight: 600;
				line-height: normal;
				font-size: 14px;
				text-align: center;
				color: #000000;
				background-color: white;
				color: black;
				padding: 10px 0px;
				border-radius: 2px;
			}
		}
	}
	&__recent-card {
		background: #FFFFFF;
		border: 1px solid #ECECEC;
		border-radius: 5px;
		&__header {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			padding: 20px;
			background: #F4F5F7;
			border-radius: 5px;
			.heading {
				font-style: normal;
				font-weight: 600;
				line-height: normal;
				font-size: 16px;
				color: #3B434F;
			}
		}
		&__body {
			.card {
				padding: 20px;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				.status-pill {
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: center;
					padding: 10px 20px;
					font-style: normal;
					font-weight: 700;
					line-height: normal;
					font-size: 12px;
					letter-spacing: -0.0278em;
					border-radius: 20px;
					&--paid {
						background: #F3FFED;
						color: #53A138;
					}
				}
				.left {
					display: flex;
					flex-direction: column;
					.title {
						margin-bottom: 10px;
						font-style: normal;
						font-weight: 500;
						line-height: normal;
						font-size: 14px;
						letter-spacing: -0.0278em;
						color: #3B434F;
					}
					.desc {
						font-style: normal;
						font-weight: 500;
						line-height: normal;
						font-size: 12px;
						color: #B6C3CA;
						opacity: 0.75;
					}
				}
			}
		}
	}
	&__cta-card {
		padding: 20px;
		background: #FFD600;
		border-radius: 5px;
		.label  {
			margin-top: 40px;
			margin-bottom: 10px;
			font-style: normal;
			font-weight: normal;
			line-height: normal;
			font-size: 14px;
			color: rgba(black, 0.75);
		}
		.number {
			margin-bottom: 20px;
			font-style: normal;
			font-weight: 300;
			line-height: normal;
			font-size: 32px;
			letter-spacing: -0.04em;
			color: #000000;
		}
		.action {
			a {
				font-style: normal;
				font-weight: 600;
				line-height: normal;
				font-size: 14px;
				text-align: center;
				color: #FFFFFF;
				background-color: black;
				color: white;
				padding: 10px 20px;
				border-radius: 2px;
			}
		}
	}
}
body {
	height: 100%;
	width: 100%;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: $font-family;
	overflow-x: hidden;
	font-size: 12px;
	 margin-top: -1.25rem;
	 background: #fff;
	 position: relative;
	 // background: #fafafa !important;
	 // background: white !important;
	 margin: 0;
	@include respond-to('medium') {
		font-size: 16px;
	}
	
}
.body-container {
	width: 100%;
	min-height: 100%;
	overflow-x: hidden;
	padding-top: 120px;
	.main-body {
		min-height: 83vh;
	}
	.sidemenu {
		max-width: 200px;
		margin-top: 10px;
		li {
			margin-bottom: 20px;
			a {
				font-family: $header-fonts;
				font-size: 16px;
				color: #68737D;
			}
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
}
.body-content {
	display: flex;
	flex-direction: row;
	width: 100%;
}
.page {
	padding-top: 100px;
	&--sub {
		padding-top: 110px;
	}
}
.content {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #F9FBFC;
	padding: 15px 0;
}
.filters {
	ul {
		display: flex;
		li {
			a {
				font-weight: 500;
				line-height: normal;
				font-size: 14px;
				color: #919191;
				&:hover {
					color: black;
				}
			}
			a.active {
				color: black;
			}
		}
	}
}
.sorting__container {
	.sort {
		background: rgba(#121212, 0.05);
		color: black;
		display: flex;
		align-items: center;
		padding: 10px 15px;
		border-radius: 5px;
		font-size: 14px;
		.filter {
			font-weight: bold;
			margin-left: 7px;
		}
	}
}
.why-section {
	width: 100%;
	min-height: 600px;
	background: white;
	.heading {
		padding: 80px 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-item: center;
		h2 {
			margin-bottom: 30px;
			text-align: center;
			margin: 0 auto;
		}
		p {
			text-align: center;
			margin: 0 auto;
		}
	}
	.three-sections {
		width: 100%;
		display: flex;
		flex-direction: row;
	}
	&__section {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		flex: 1;
		min-height: 500px;
		.content {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			border: none;
			.image {
				margin-bottom: 30px;
			}
			h4 {
				font-weight: bold;
				line-height: normal;
				font-size: 20px;
				text-align: center;
				color: #000000;
				margin-bottom: 10px;
			}
			p {
				line-height: 21px;
				font-size: 14px;
				text-align: center;
				color: #093236;
				max-width: 300px;
				margin: 0;
			}
		}
		&--first {
			background: #23C7D8;
		}
		&--second {
			background:#FFC700;
		}
		&--third {
			background: #2983F6;
		}
	}
	.free-cta {
		background: white;
		padding: 80px 0;
		&__title {
			display: flex;
			flex-direction: row;
			align-items: center;
		}
		&__theme {
			position: relative;
			&-laptop {
				position: absolute;
				height: 100%;
				width: 100%;
				top: 5%;
				left: 5%;
				right: 5%;
				bottom: 5%;
				box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2), 0px 2px 4px rgba(0, 0, 0, 0.2), inset 0px 1px 0px #FFFFFF;
				img {
					object-fit: cover;
					width: 100%;
					height: auto;
				}
			}
		}
		&__content {
			display: flex;
			flex-direction: column;
			align-items: center;
			.lead {
				font-weight: bold;
				line-height: normal;
				font-size: 16px;
				text-align: center;
				color: #000000;
				margin-bottom: 20px;
			}
			form {
				max-width: 420px;
				.form-group {
					position: relative;
				}
				.icon {
					position: absolute;
					top: 32px;
					right: 30px;
					transition: all 0.2s ease;
				}
				input {
					padding: 30px;
					margin-bottom: 20px;
					max-width: 420px;
					width: 100%;
					width: 420px;
					font-size: 16px;
					&:focus {

					}
				}
				input[type="submit"] {
					display: none;
				}
			}
			.desc {
				font-weight: 500;
				line-height: normal;
				font-size: 12px;
				text-align: center;
				color: #ADB7BE;
				opacity: 0.5;
			}
		}
	}
}