@import 'helpers/variables';
@import 'helpers/functions';
@import 'helpers/mixins';
@import 'helpers/helpers';

.header--settings {
	padding: 17px 0;
	background: white;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.025);
	.container {
		padding-top: 0;
		padding-bottom: 0;
	}
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	h3 {
		font-family: Inter UI;
		font-style: normal;
		font-weight: 500;
		line-height: 35px;
		font-size: 24px;
		letter-spacing: -0.015em;
		margin: 0;
		color: #000000;
	}
}
#settings {
	height: 100%;
	background: #fafafa;
	margin-top: 90px;
	.nav {
		padding-top: 100px;
	}
	.container, .row {
		height: 100%;
	}
	.form--settings {
		background: white;
		height: 100%;
		padding-top: 100px;
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.025);
		form {
			width: 450px;
			margin: initial;
			margin-left: 40px;
		}
		.form {
			&-inputs, &-header {
				width: 100%;
			}
			&-header {
				h3 {
					font-family: Inter UI;
					font-style: normal;
					font-weight: bold;
					line-height: normal;
					font-size: 24px;
					color: #000000;
				}
			}
		}
	}
	.cover {
		border-radius: 50px;
	}
	.subnav {
		display: flex;
		flex-direction: column;
		padding: 0;
		margin: 0;
		li {
			max-width: 200px;
			margin-top: 0;
			a{	
				display:block;
				font-family: Inter UI;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
				font-size: 16px;
				letter-spacing: -0.015em;
				color: #000000;
				padding: 10px 30px;
				min-width: 200px;	
				background: #F0F0F0;
				max-width: 200px;
				width: 100%;
				margin-bottom: 10px;
			}
			a.active {
				color: #006DFF;
				background: white;
				border-left: 2px solid #006DFF;
			}
		}
	}
}