<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
  </head>
  <body onload='number_pages'>
    <div id="header">
      <h1> Hello </h1>
      <%= @invoice.description %>
    </div>
  </body>
</html>