$breakpoints: (
  'medium': (min-width: 800px),
  'large': (min-width: 1000px),
  'huge': (min-width: 1200px),
  'xhuge': (min-width: 1500px),
);


@mixin flex {
    // write the css here
    display: -webkit-flex;
    display: flex;
}

@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(
      type-of($raw-query) == 'string',
      unquote($raw-query),
      inspect($raw-query)
    );

    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
         + 'Please make sure it is defined in `$breakpoints` map.';
  }
}

// usage
// .foo {
//   color: red;

//  @include respond-to('medium') {
//    color: blue;
//  }
// }

// ----------- Responsive Breakpoint Manager End  ----------- //


// ----------- Typography transitions  ----------- //

// Transitions - Usage: @include transition(all .2s ease);
@mixin transition($args...) {
    -webkit-transition: $args;
       -moz-transition: $args;
        -ms-transition: $args;
         -o-transition: $args;
            transition: $args;
}