
// ----------- Variable Rules  ----------- //

// use !default to definte any variable so that anyonce can overwrite it. 
// $baseline: 1em !default;
// // Developer’s own variable
// $baseline: 2em;

// Your library declaring `$baseline`
// @import 'your-library';

// $baseline == 2em;


// ----------- Breakpoints  ----------- //

// breakpoint variables : you can add more as necessary
// we'll go mobile first as much as possible.

$breakpoints: (
  'medium': (min-width: 800px),
  'large': (min-width: 1000px),
  'huge': (min-width: 1200px),
  'xhuge': (min-width: 1500px),
);


// Font Family
$font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$header-fonts:   -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$body-font:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";


/*------------------------------------*\
    #UTILS - Color Variables
\*------------------------------------*/

$brand-primary: #03D9C9;
$teal-dark: #00C0BF;
$teal-darkest: #1A535C;
$dark-blue: #0B132B;
$grey: #EBEBEB;
$red: #FF4545;
$blue-grey: #9EB2B5;
$green: #3C9E1A;
$heading-color: #2c3e50;

$primary-color: 				$brand-primary;
$header-font-color:				$brand-primary;
$body-font-color: 				$blue-grey;


$primary-gradient:  linear-gradient(-100deg, #03D8C9 0%, #5753FE 97%);
$primary-gradient:  linear-gradient(-100deg, #03D8C9 0%, #5753FE 97%);


// Font Family
$font-family: 'Inter UI', 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Base Font for HTML
$base-font-size: 16px;

// Paragraph Styles
$paragraph-color      : #505050;
$paragraph-size       : rem(17px);
$paragraph-line-height: 1.5em;
$paragraph-margin     : 20px;

// Header Styles
$header-color      : #000000;
$header-size       : rem(48px);
$header-line-height: 1.333em;
$header-margin     : $paragraph-margin * 1.2;

// Blockquote Styles
$blockquote-color      : #212121;
$blockquote-size       : rem(28px);
$blockquote-line-height: 1.5em;
$blockquote-margin     : $paragraph-margin * 1.5;

// Links
$link-color: #4eaff6;

// hr
$hr-margin: 30px;

// Type Misc
$font-weight-bold: 800;
$border-color: #DADADA;