@import 'helpers/variables';
@import 'helpers/functions';
@import 'helpers/mixins';
@import 'helpers/helpers';

// @import url('https://fonts.googleapis.com/css?family=Archivo:300,400,700,900');
// @import url('https://fonts.googleapis.com/css?family=Tenor+Sans');


/*------------------------------------*\
    # Simple Typography Settings
\*------------------------------------*/


// Base Font for HTML
$base-font-size: 16px;

// Paragraph Styles
$paragraph-color      : #505050;
$paragraph-size       : rem(17px);
$paragraph-line-height: 1.5em;
$paragraph-margin     : 20px;

// Header Styles
$header-color      : #000000;
$header-size       : rem(48px);
$header-line-height: 1.333em;
$header-margin     : $paragraph-margin * 1.5;

// Blockquote Styles
$blockquote-color      : #212121;
$blockquote-size       : rem(28px);
$blockquote-line-height: 1.5em;
$blockquote-margin     : $paragraph-margin * 1.5;

// Links
$link-color: #4eaff6;

// hr
$hr-margin: 30px;

// Type Misc
$font-weight-bold: 800;
$border-color: #DADADA;


body {
    font-size: 12px;

    @include respond-to('medium'){
        font-size: 16px;
    }
}



/*------------------------------------*\
    # Type
\*------------------------------------*/

// Make type normal across browsers
*, html, body {
    font-size: $base-font-size;
    font-family: $font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    outline: none;
}


// Headers
h1, h2, h3, h4, h5, h6 {
    font-family: $header-fonts;
    margin: 0;
    color: $header-color;
    line-height: $header-line-height;
    font-weight: 400;
    text-align: left;
}

h1 {
    font-size: 30px;
    @include respond-to('medium'){
        line-height: 54px;
        font-size: 36px;
    }
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 36px;
    letter-spacing: 0.01em;
    color: #000;
}

h2 {
    font-weight: bold;
    line-height: normal;
    font-size: 30px;
    color: #000000;
}

h3 {
    font-size: $header-size / 1.5;
    font-style: normal;
    font-weight: bolder;
    line-height: 32px;
    font-size: 20px;
    letter-spacing: 0.01em;
    color: black;
}

h4 {
    font-size: $header-size / 1.7;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
    font-size: 15px;
    color: #D3D6E5;
}

h5 {
    font-size: $header-size / 1.8;
}

h6 {
    font-size: $header-size / 2;
}



// Paragraphs
p {
    margin-top: $paragraph-margin;
    font-size: $paragraph-size;
    line-height: $paragraph-line-height;
    color: $paragraph-color;

    &:first-of-type {
        margin-top: 0;
    }
}
p.lead {
    font-family: $body-font;
}

// Links
a {
    font-family: $header-fonts;
    display: inline-block;
    color: #1F2B36;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    text-decoration: none;
    @include transition(all .2s ease);
}
a.secondary {
    font-weight: 500;
    line-height: 21px;
    font-size: 14px;
    letter-spacing: -0.025em;
    text-decoration-line: underline;
    color: #0085FF;
}


// Lists
ul, ol {
    margin: 0px;
    li {
        margin-right: 10px;
        line-height: $paragraph-line-height;
        color: $paragraph-color;
        &:last-of-type {
            margin: 0;
        }
    }
    ul, ol {
        margin-top: 0;
    }
}

ul {
    li {
        list-style: none;
    }

    ul {

        li {
            list-style: none;
        }
    }
}

ol {

    li {
        list-style: none;
    }
}


// hr
hr {
    height: 1px;
    margin: $hr-margin 0;
    border: none;
    background-color: $border-color;
}


// Blockquote
blockquote {
    margin: $blockquote-margin 0;
    font-size: $blockquote-size;
    line-height: $blockquote-line-height;
    color: $blockquote-color;
    text-align: center;
    font-style: normal !important;
}


// Tables
table {
    width: 100%;
    margin: $blockquote-margin 0;
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid $border-color;
    text-align: left;
}

th {
    font-weight: $font-weight-bold;
}

th, td {
    padding: 15px;
}


// Figure
figure {
    margin: $blockquote-margin 0;

    img {
        margin: 0;
    }
}

figcaption {
    margin-top: 10px;
    color: lighten($paragraph-color, 10%);
    font-size: $paragraph-margin * 0.8;
}


// Code
pre {
    display: block;
    margin: 0 0 40px 0;
    padding: 20px;
    background-color: lighten($border-color, 12%);
    border: 1px solid $border-color;
    overflow: auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    code {
        position: static;
        padding: 0;
        border: none;
        line-height: 1.5em;
    }
}

code {
    position: relative;
    top: -0.2em;
    padding: 3px;
    font-family: Courier New, Courier, monospace;
    font-size: $paragraph-size / 1.4;
    color: darken($border-color, 40%);
    line-height: 1em;
    pointer-events: none;
    border: 1px solid $border-color;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}



// Misc Styles
em, i, .italic {
    font-style: italic;
}

strong, b, .bold {
    font-weight: $font-weight-bold;
}

img {
    height: auto;
    object-fit: cover;
}

