%nav#sidebarMain.sidebar.sidebar--main
   .sidebar-top-section
      .brand
         %img{:src => "/images/brand/bolt-logo-sidebar.svg", :alt => "Bolt"}/
      .sidebar-navigation-items
         %a{:href => "/invoices", :class => "active"}
            %img{:src => "/images/icons/baseline-home-24px.svg", :alt => "", :class => "svg icon icon--sidebar"}/
            .link-text Dashboard
         %a{:href => "/invoices" }
            %img{:src => "/images/icons/baseline-attach_money-24px.svg", :alt => "", :class => "svg icon icon--sidebar"}/
            .link-text Invoices
         %a{:href => "/invoices" }
            %img{:src => "/images/icons/baseline-pages-24px.svg", :alt => "", :class => "svg icon icon--sidebar"}/
            .link-text Proposals
         .locked
            .unlock
               .btn
                  %a{:href => "/invoices" }
                     .link-text Unlock Features
            .lock-icon
               %img{:src => "/images/icons/baseline-lock-24px.svg", :alt => "", :class => "svg icon icon--sidebar"}/
            .upcoming
               %img{:src => "/images/icons/baseline-contacts-24px.svg", :alt => "", :class => "svg icon icon--sidebar"}/
               .link-text Clients
            .upcoming
               %img{:src => "/images/icons/baseline-folder_special-24px.svg", :alt => "", :class => "svg icon icon--sidebar"}/
               .link-text Projects
            .upcoming
               %img{:src => "/images/icons/baseline-note_add-24px.svg", :alt => "", :class => "svg icon icon--sidebar"}/
               .link-text Contracts
            .upcoming
               %img{:src => "/images/icons/baseline-bar_chart-24px.svg", :alt => "", :class => "svg icon icon--sidebar"}/
               .link-text Expenses
            .upcoming
               %img{:src => "/images/icons/baseline-timer-24px.svg", :alt => "", :class => "svg icon icon--sidebar"}/
               .link-text Time Tracking
            .upcoming
               %img{:src => "/images/icons/baseline-done_all-24px.svg", :alt => "", :class => "svg icon icon--sidebar"}/
               .link-text Todo List
   .sidebar-bottom-section
      %a{:href => "/user/settings"}
         %img{:src => "/images/icons/baseline-tune-24px.svg", :alt => "", :class => "svg icon icon--sidebar"}/
         .link-text Settings







