button {
	border: none;
	transition: all 0.4s ease;
	&:hover {
		cursor: pointer;
		transition: all 0.4s ease;
	}
}

.link {
	&__secondary {
		font-weight: 500;
		line-height: normal;
		font-size: 14px;
		text-align: center;
		text-decoration-line: underline;
		color: #0085FF;
	}
}